main{
    max-height: 13500rem;
}



@media (max-width: 1023px) {
 .card{
    margin-top: 0rem!important;
    margin-bottom: 5rem;
 }

 #projects .cards {
    margin-left: 6rem!important;
 }
}



@media (max-width: 501px) {
section h3{
    font-size: 1.8rem!important;
}
.card{
    margin-left: -2rem;
}
}



@media (max-width: 410px) {
    .card{  
        margin-left: -7rem;
    }
}



@media (max-width: 440px) {
    .card{      
        margin-left: -5rem;
        width: 300px!important;
    }
}